    .service-list{
        display: flex;
        color: rgb(236, 121, 27);
    }
    .left{
        display: flex;
        width: 100%;
        height: 600px;
    }
    .left img{
       height: auto;
       width: auto;
       margin-top: 3%;
    }
    .dimension{
        width: 50%;
        padding: 5% 5% 0 5%;
    }
    .dimension h2{
        margin-top: 6%;
    }